[2017-09-28 20:00] kathcarruthers opened #1 "Alert required when editing an event line item"
The extension allows a user to modify the number of event tickets purchased as a line item, and a popup is displayed warning that a payment record is required.
![image](https://user-images.githubusercontent.com/13468905/30986359-216528da-a461-11e7-9921-ea5b0161c873.png)
The updated number of participants is recorded in the event, but no information is collected about the additional attendee(s).  T

[2017-09-28 20:31] kathcarruthers opened #2 "Warning text and cancel / submit"
1. When Cancel is selected on a line item the word "lineitem" should be "line item":
WARNING: Cancelling this line item will affect the related contribution and update the associated financial transactions. Do you want to continue?

2. Because the buttons are answering "Do you want to continue?" it might be simpler to have the button labels be Yes and No rather than Cancel Item and Cancel.

![2017

[2017-09-28 21:00] kathcarruthers commented on #2
The Edit item dialogue is much larger than necessary.
![image](https://user-images.githubusercontent.com/13468905/30990246-88f356fe-a46e-11e7-856d-d36587d8b69e.png)

[2017-09-28 21:34] JoeMurray commented on #2
Let's do 1. Please check 3 and Edit dialog too big. @lcdservices do you have feedback on 2: we're using Cancel for financial actions everywhere in a different way than we use Cancel on dialog boxes throughout CiviCRM, and here where they both appear it's confusing.

[2017-09-28 21:40] kathcarruthers commented on #2
It may be that my screen is too small.  I will check again on a bigger monitor when I get home on the weekend.

[2017-09-29 14:03] lcdservices commented on #2
@JoeMurray I'd vote for retaining "cancel item" (which I think is pretty clear) and "close" -- which is where we've moved with button labels in other similar contexts.

[2017-10-23 09:23] monishdeb commented on #2
@JoeMurray @kathcarruthers I have fixed 1. and 2. Here's the screenshot:
![screen shot 2017-10-23 at 2 32 28 pm](https://user-images.githubusercontent.com/3735621/31880941-ac422a00-b7ff-11e7-9f0e-507ae9978254.png)

Re 3. issue is, when we open a popup (here edit/cancel lineitem dialog) within a popup (here backoffice contribution form) then it doesn't respect the CSS class ```small-popup``` provid

[2017-10-23 13:26] monishdeb commented on #1
@JoeMurray @kathcarruthers I have investigated if Civi allows a standalone form via which we can display a profile to register each additional participant, but there isn't. The form used to collect information for the additional participants during online event registration cannot be used in this case. To support that, we need to create a new form which will add multiple profile (configured for th

[2017-10-23 14:22] JoeMurray commented on #1
So we don't have funding to look after the new form, but the suggestion is a good one and it in many ways qualifies as a bug. So, we could put a Warning saying that if they proceed that the additional participant information will not be collected, and allow them to make the choice. What are the results? My guess is that some of the reporting might be wrong, perhaps waitlisting may break...anything

[2017-10-23 18:25] monishdeb commented on #1
@JoeMurray there is no other way in Civi to collect information of additional registrants via any backoffice form or participant action OR there is no option to edit/correct the information of additional participants for an existing registration. However, it's not necessary to collect information for additional registrants as here we just need to update the participant count, if qty is changed. Le

[2018-03-02 01:58] eileenmcnaughton opened #4 "Cannot edit total amount although I appear to be able to"
When I go to edit the total amount & save I get blocked by the message below & since I cannot edit the net amount I cannot save my change. If I choose to edit the line items it works fine & I would suggest the best option is simply to freeze the total amount field so it is clear that the way to edit the total is by editing the line items

![screenshot 2018-03-02 14 56 12](https://user-images.githu

[2018-03-02 02:00] eileenmcnaughton opened #5 "Line items - do they really have to be whole numbers?"
I note that there is a limitation to whole numbers of line items - is this something baked into CiviCRM since intuitively there are cases when partial units make sense

![screenshot 2018-03-02 14 57 06](https://user-images.githubusercontent.com/336308/36879798-5238dd38-1e2a-11e8-9805-d4bae058bdf7.png)

[2018-03-02 02:43] JoeMurray commented on #5
@monish please evaluate the scope of change required to support a certain number of decimals in the schema - not a float! - and throughout the code in every place where there is a calculation, including in sales taxes and in the Canadian Sales Tax extension. We should aim to support this but may not be able to fund this internally soon.

[2018-03-02 02:54] eileenmcnaughton commented on #5
schema for this field is DECIMAL(20,2) - I'm not sure if the code enforces whole numbers anywhere other than the form validator here

[2018-03-02 07:36] eileenmcnaughton commented on #5
Note that I don't have a specific interest here - it was something I noticed while reviewing the extension & felt that the form was enforcing something the schema didn't & which I suspected was permitted elsewhere in the code

[2018-03-02 07:37] eileenmcnaughton opened #6 "Add ability to add line items to line item edit"
Adding this here as a feature request because I think it should be logged - but I recognise it is non-trivial. Basically it would be good to be able to add additional line items within the form

[2018-03-02 12:38] monishdeb commented on #5
@eileenmcnaughton the validation error is a bit insufficient to expose the actual criteria. This is a scenario for selectable price fields (checkbox, select, radio) as in Civi there is no way we can have fractional quantity EXCEPT if its a text amount where we are allowed to enter fractional qty. So in later case you won't get this validation error.

[2018-03-02 12:41] monishdeb commented on #6
There is already a request from a client, in this regard i.e. to extend the ability of this ext to support additional line-item create. I'll share the spec once I get the approval from the client.

[2018-03-02 12:42] monishdeb commented on #4
Yes and we already had a discussion of freezing this total amount field  on edit page, as we are allowing user to edit line-item via a separate form.

[2018-03-03 00:39] eileenmcnaughton commented on #4
Cool - so this is agreed but not hit anyone's priority?

[2018-03-03 00:39] eileenmcnaughton commented on #6
nice

[2018-03-07 17:24] JoeMurray commented on #4
Still waiting on potential client to hear if they will be interested in funding this.

[2018-03-12 04:29] monishdeb commented on #4
Closing it, as it has been covered by https://github.com/civicrm/civicrm-core/pull/11780

[2018-03-12 04:29] #4 closed

[2018-03-12 06:10] eileenmcnaughton commented on #4
@monishdeb it's only frozen in core for some contributions though isn't it? ie. not simple contributions (although perhaps later that will be)

[2018-03-19 22:27] jaapjansma opened #7 "Compatible with 4.6?"
Is this extension compatible with CiviCRM version 4.6? And if not what is needed to get it working on 4.6?

[2018-03-19 22:31] jaapjansma commented on #7
I have tried it out and see that the Order API is required which is not present in 4.6

[2018-03-19 22:36] jaapjansma commented on #7
It also requires Civi::Settings

[2018-03-19 22:37] jaapjansma commented on #7
I can fix the order api in a seperate extension. But not sure about the Civi::Settings

[2018-03-19 22:39] jaapjansma commented on #7
I will have a better look tomorrow. And will try to fix the breaking points.

[2018-03-20 01:00] JoeMurray commented on #7
@eileen would know about settings stuff.

[2018-03-20 08:23] jaapjansma commented on #7
I have also discovered another issue which I will try to fix. It comes down to the fact that the client for whom I am trying this out has line items attached to activities (based on the time spent on that activity). That is custom development for this client specific but this extension assumes the line items coming down from events or memberships. I will also try to fix that issue.

[2018-03-20 16:08] JoeMurray commented on #7
Oh, interesting use of line items to link them to activities. PR would be welcome - we'll help with review and QA. Cheers.

[2018-03-23 16:08] jaapjansma commented on #7
@JoeMurray unfortenatly I dont have any funding to fix the 4.6 issues. The project is on hold for the moment and I dont know when it will resume.

[2018-04-11 02:53] lcdservices opened #8 "$0 value line items should be allowed"
There is a form rule in place here:
https://github.com/JMAConsulting/biz.jmaconsulting.lineitemedit/blob/master/CRM/Lineitemedit/Form/Add.php#L100

...which prevents line item totals of $0. but that is a legitimate value -- both in the construction of price sets for events, and in the case where a discount is extended on a line item that normally would have a value. is there a reason that rule is

[2018-04-11 10:54] JoeMurray commented on #8
Some people/orgs object to them and consider them a bug. I agree they should be allowed.

[2018-04-11 10:55] JoeMurray commented on #8
@monish could you fix? Thx

[2018-04-11 12:53] lcdservices opened #9 "unit price for text fields should be modifiable"
There is currently a form rule that prevents you from modifying the unit price for text fields. I think that should be allowed.

Let's say you have an event where there is a banquet you're selling tickets for and use the text field type to allow people to purchase multiple tickets. For a VIP attendee, you want to offer them a discount on the unit price for those tickets so you edit the line item (

[2018-04-11 15:31] lcdservices opened #10 "line item changes should update connected participant fee total"
If you use the line item edit tool to modify a contribution connected to an event, the line item changes are properly reflected in the participant record, but the event total is not updated. That fee total is stored in the participant record, not derived from the line items, and would need to be updated separately.

![image](https://user-images.githubusercontent.com/366478/38626977-d00398aa-3d7b-1

[2018-04-16 13:08] monishdeb commented on #8
Submitted PR https://github.com/JMAConsulting/biz.jmaconsulting.lineitemedit/pull/11

[2018-04-16 13:08] monishdeb commented on #9
Submitted PR https://github.com/JMAConsulting/biz.jmaconsulting.lineitemedit/pull/12

[2018-04-16 13:08] monishdeb commented on #10
Submitted PR https://github.com/JMAConsulting/biz.jmaconsulting.lineitemedit/pull/13

[2018-04-18 13:59] monishdeb commented on #8
PR is tested and merged, hence closing this issue

[2018-04-18 13:59] #8 closed

[2018-04-18 13:59] monishdeb commented on #10
PR is tested and merged, hence closing this issue

[2018-04-18 13:59] #10 closed

[2018-05-01 03:58] monishdeb commented on #9
Closing it, as the PR is merged

[2018-05-01 03:58] #9 closed

[2018-05-21 07:08] agileware-fj opened #14 "0.00 tax added for financial types with no tax account"
Steps to reproduce:

1. Turn on Tax & Invoicing then set up a financial type with no tax account - call this e.g. "No Tax calculation"
2. Create a contribution with a single line item using "No Tax calculation" as the financial type.
3. Check the line items using SQL - tax_amount is NULL - correct
4. Edit the Contribution and change a line item
    - Note that tax_amount is 0.00 on this form.
5. C

[2018-05-21 14:25] JoeMurray commented on #14
Thanks, @agileware-fj please submit a PR. We appreciate the help, Francis.

[2018-05-22 06:44] agilewarealok commented on #14
Hi @JoeMurray

We've submitted PR to fix the issue.
https://github.com/JMAConsulting/biz.jmaconsulting.lineitemedit/pull/15

Thanks.

[2018-05-22 16:36] JoeMurray commented on #7
Reviewing now I see I didn't respond to your original question. We would welcome PRs to support 4.6 but have no plans to add it ourselves.

Please reopen if you get resources to submit PRs for 4.6.

[2018-05-22 16:36] #7 closed

[2018-05-22 16:39] JoeMurray commented on #5
@monishdeb could you change the error message to read: Please enter a whole number quantity for this type of price field.

[2018-05-22 16:40] JoeMurray commented on #2
@monishdeb ping re:

If this is core, please create a core issue and work on it as medium priority.

[2018-05-22 16:51] JoeMurray commented on #1
@monishdeb There are two use cases for registering multiple participants in same purchase. In one, the civicrm_lineitem.participant_count is greater than 1 and no info is collected on subsequent (n>=2) participants. In another, correct me if I am wrong, but multiple registrants with their profile info are collected and participant_count =1, and qty>1. I think we should display an alert indicating

[2018-05-22 17:45] monishdeb commented on #5
Sure that will clarify a bit more

[2018-05-22 18:20] JoeMurray opened #16 "add /tests to .gitignore ?"
Should we add the tests directory to .gitignore so it is not included in deployments, at least ones that are done via git.

[2018-05-22 19:28] eileenmcnaughton commented on #5
isn't that example a text amount? (this is a while back & I don't recall it well now but the screenshot seems to be)

[2018-05-22 19:34] monishdeb commented on #5
@eileenmcnaughton as per the code it doesn't seem so as in [here](https://github.com/JMAConsulting/biz.jmaconsulting.lineitemedit/blob/master/CRM/Lineitemedit/Form/Edit.php#L129) we are throwing validation if the corresponding price field doesn't allow to enter fractional qty identified by ```is_enter_qty = 0```. The above screenshot is when you tried to submit the Edit form after changing the qty

[2018-05-22 19:44] eileenmcnaughton commented on #5
ok...

[2018-05-23 10:05] monishdeb opened #17 "Changing line_item quantity and unit price doesn't affect tax amount on both Add and Edit form"
Steps to replicate:
1. Enable Sale Tax and create/modify Financial Type that has tax rate. Let say Donation FT has 10% tax rate.
2. Create a contribution choosing a price-field that is configured with Donation FT or simply choose Donation FT and do a backoffice contribution.
3. Go to the edit contribution and change the line-item quantity and/or unit price via Edit form

ACTUAL
-------------------

[2018-05-23 10:12] monishdeb commented on #17
Submitted PR https://github.com/JMAConsulting/biz.jmaconsulting.lineitemedit/pull/18

[2018-05-23 15:16] adixon commented on #6
I'm seeing this ability, but it's a bit curious.
1. It only showed up after I created the first price set (it was a test site that had no prices sets created previously).
2. I can only add a new line item if the total contribution amount is less than the amount paid.
3. New line items are only available from the price set used for the field (a good thing I think, but not immediately obvious).

I'm

[2018-05-23 15:28] adixon commented on #5
I can confirm that at least in some cases you can use fractional amounts in line item quantity. In my experiment, I wasn't able to use a fractional number when I wasn't using a price set (i.e. it was using a magic hidden price set), but was able to when i used a price set. So I'm convinced you can close this issue.

[2018-05-23 15:34] JoeMurray commented on #5
Thanks, @adixon

[2018-05-23 15:34] #5 closed

[2018-05-23 18:42] monishdeb commented on #6
@adixon let me answer each of your point:

That's right, add line-item link got exposed only in one condition If there is a price-set and it has price-field options avaiable to choose for a new line-item. There is a rule I made for adding line-item of a contribution which is **you cannot add new line-item with a price field which is already linked to a existing line-item of same contribution**, re

[2018-05-23 19:23] adixon commented on #6
Thanks for the explanation, it makes sense. I played around editing some line items of a contribution and from a user experience it was fairly confusing to figure out when I could add a line item and when I couldn't, but i expect that most users will stick within the limitations, since they mostly correspond to sensible options.

So my other question is still: doesn't this mean you already have th

[2018-05-23 19:30] monishdeb commented on #6
It's more about the latter approach to enhance the ability to add multiple line-item somehow by providing unique price field value id. Let see how far I can go in this direction and devise a plan if there is a possibility :)

[2018-05-23 19:38] monishdeb commented on #16
@JoeMurray I am not sure, because if we add the entire tests/ directory in .gitignore then we will lose all the written UTs from this git repo. Also if we want to keep only the UT files under tests/phpunit/CRM/* and exclude other files then, then if someone wants to run the UTs might need to regenerate those excluded files via ```civix```.

If I look at other extensions which got UTs like https://

[2018-05-23 19:53] JoeMurray commented on #16
See https://chat.civicrm.org/civicrm/pl/kqbthb7jrbno5nxduysswhrp6h

[2018-05-23 19:53] #16 closed

[2018-05-24 08:22] monishdeb commented on #16
@JoeMurray I have resolved the problem by adding ```.gitattributes``` file. Thanks for raising this issue in the extension channel. Here's what I have done:
1. Added .gitattributes file in my lineitemedit extension - https://github.com/JMAConsulting/biz.jmaconsulting.lineitemedit/commit/d07c6bf8aa79454d425c1206dcccc82024186826
2. published a release 1.3

When I downloaded the ext zip https://githu

[2018-06-01 05:54] agileware-fj opened #19 "Fatal error when attempting to update membership line items."
Steps to reproduce:

1. Renew a membership, recording a contribution.
2. Edit the contribution, open line item in edit
3. Change the line item quantity.
4. Save the line item.

Results:

"A fatal error was triggered"

Expected outcome:

Contribution is updated with higher quantity in line item, and probably the number of terms that the membership renewal is for is changed to match (ideal behaviour

[2018-06-27 19:25] monishdeb commented on #6
Submitted PR https://github.com/JMAConsulting/biz.jmaconsulting.lineitemedit/pull/20

[2018-09-17 08:35] monishdeb commented on #14
Closing now as https://github.com/JMAConsulting/biz.jmaconsulting.lineitemedit/pull/15 is merged now.

[2018-09-17 08:35] #14 closed

[2018-09-17 08:35] monishdeb commented on #17
#18 is merged. Closing now

[2018-09-17 08:35] #17 closed

[2018-09-17 08:38] monishdeb commented on #6
@adixon @eileenmcnaughton I am closing this issue now as this has been handled on #20 Please check the screencast on PR comments, as per which it extend the ability of backoffice form to add inline line-items against contribution made with w/o quick-config price set. Will be publishing new release 2.0 with this new change.

[2018-09-17 08:38] #6 closed

[2018-09-17 08:40] monishdeb commented on #19
@agileware-fj great catch. Will you be able to create PR for this issue?

[2018-10-27 16:42] lcdservices opened #22 "Line total is not updating"
Since v2.0, there appears to be a bug -- when changing the unit price, the line total is not recalculated. See screencast: https://lcdservices.tinytake.com/sf/MzAzNTcxOF85MDk4Nzg0

[2018-11-07 23:38] agileware-fj commented on #22
This is possibly fixed by PR #23

[2018-11-07 23:39] agileware-fj commented on #19
@monishdeb Forgot I had this bug in here, but this is addressed in #24

[2018-11-08 16:48] lcdservices commented on #22
@agileware-fj confirmed -- that PR addresses this bug.

[2018-11-08 16:55] JoeMurray commented on #22
Thanks, folks! Fix merged, closing this issue.

[2018-11-08 16:55] #22 closed

[2018-11-26 10:55] clement888 opened #25 "Broken Batch Validation"
Hello,

We had a CIVICRM instance (CiviCRM 4.7.29 on Wordpress 4.9.8 on Ubuntu) running well and doing batch validation under CiviContribution well but had recently choked on validation with the following error:

** text version of the error at the end of this post batch validation error

The change that seem to have taken place before this is the installation of the Edit Line Item (v2.0) extensio

[2018-11-27 11:55] monishdeb commented on #25
Thanks, @clement888 for reporting this critical issue as it prevents the batch entry feature of Civi from working properly.

For those wanting to know more about the technical background, here's an overview.

The validation error is triggered by a core function [CRM_Price_BAO_PriceSet::getOnlyPriceFieldValueID(..)](https://github.com/civicrm/civicrm-core/blob/master/CRM/Price/BAO/PriceSet.php#L539

[2018-11-27 11:55] monishdeb commented on #25
ping @JoeMurray

[2018-11-27 15:27] clement888 commented on #25
Thanks!  I am not a developer so i appreciate your guidance on how to apply the patch.  Thanks.

[2018-11-27 15:47] MegaphoneJon commented on #25
Hi @clement888 - I can help you apply the patch.  Can you please log in to https://chat.civicrm.org then send a message to me there?  My name is "junglebird" there.  I'm getting on a call in 15 minutes, but after that (30-45 minute) call I'll be free for about 6 hours to help you.

[2018-11-27 16:05] monishdeb commented on #25
@clement888 sorry for the delay. Here are the steps to apply the patch if you got Linux/MacOS
1. Open the terminal and execute this commands
[code]
2. If you got lineitem-editor extension already installed then clear CiviCRM cache (Go to - CiviCRM >> Administer >> System Settings >> Cleanup caches and paths)
3. Or reinstall the line-item editor.

That's it, you can test the Batch Entry form to ens

[2018-11-27 17:50] JoeMurray commented on #25
FWIW, we're reviewing the constraint mentioned by Monish above that led to the need for the workaround, and if possible @monishdeb will contact Eileen about removing it so this error doesn't come up.

[2018-11-29 16:40] clement888 commented on #25
Thanks for the patch!  I have applied it to our staging system and it works.  We will be patching it to our production and i will update here again.

I was wondering since the batch validation function was working well before we installed the extension, why did the problem persist after we uninstall it ?  Thanks.

[2019-01-10 19:16] philmb opened #27 "Losing first line item when adding line item"
I just noticed the feature to add ad hoc line items, and was excited, since it is super-useful to me. However, when I add one or more line items, the first item details are lost, reverting to "Contribution Amount" of $0. See image, which should show line 1 as "test item" with Unit price of $20. Notice that the Total Amount still reflects the missing details.

I have replicated this behavior on 5.5

[2019-01-14 21:25] JoeMurray commented on #27
Thanks the report, @philmb , and sorry for the issue. Can you confirm you're using version 2.0 of the extension?

Also, can you confirm the following way to reproduce the issue:

1. Create a $20 contribution that is not based on a price set and that uses a financial type without taxes.
2. Edit the contribution.
3. On the edit contribution form click Add another item and add a $20 item with financi

[2019-01-15 19:58] philmb commented on #27
Yes, I am using v2.0.

I can report that following your alternate steps, the issue is NOT reproduced. It worked in the expected way, such as I noticed.

To outline exactly what I can do to reproduce the problem:

1. Create a new contribution.
2. Select a Financial Type for the contribution.
3. Select "Add Item(s)", and add one item (or more) for any amount with any Financial Type (sales tax makes

[2019-01-15 20:51] JoeMurray commented on #27
So @monishdeb it sounds like it is a problem related to the add line item on a new unsaved contribution.

[2019-02-05 18:09] JoeMurray opened #28 "can see two icons with shoreditch?"
See https://github.com/civicrm/org.civicrm.shoreditch/issues/353

[2019-02-06 12:25] Upperholme opened #29 "does this extension let me edit the status of the line item?"
Wondering if this extension might be useful for me. Will it let me edit the status of a payment? Specifically I had an issue recently where I recorded a new payment against a contribution, and set the status to 'completed' where in fact it should have been 'pending', but couldn't change that.

[2019-02-06 18:26] JoeMurray commented on #29
No, this extension is about what is purchased, not what is being paid.

I don't think this will help as it is not related to its intended behaviour, but as an unexpected byproduct it might work: https://github.com/JMAConsulting/biz.jmaconsulting.customcontribstatuses

Good luck.

[2019-02-06 18:26] #29 closed

[2019-02-08 19:25] mfb opened #32 "Update contribution financial type when line item financial type is updated"
If the line item financial type is updated, this extension doesn't update the parent contribution's financial type, and they will be out of sync in any reports, etc.

Civi core now "freezes" the contribution financial type, so admins cannot manually sync the line item and contribution financial types.

I would say this extension should automatically update the parent contribution's financial type.

[2019-02-08 21:32] eileenmcnaughton commented on #32
I would lean towards just exposing the option to change it - the contribution could have several types at the line item level

[2019-02-08 23:58] mfb commented on #32
That works for me.

There might be cases where someone edits just the line item or just the contribution and they get out of sync, but that's probably not a big deal, and can always be manually fixed.

[2019-02-09 02:28] JoeMurray commented on #32
KISS: let people edit the contrib and line item financial types separately. The problem is there are many possible ways of making it more convenient that vary based on use cases that are not the same for everyone..

[2019-02-25 22:52] mfb commented on #32
Would @Monish or anyone else be able to take a look at this?

[2019-03-12 06:36] #25 closed

[2019-03-12 09:25] monishdeb commented on #28
Fixed by https://github.com/civicrm/org.civicrm.shoreditch/pull/360 . Closing now

[2019-03-12 09:25] #28 closed

[2019-03-12 09:27] monishdeb commented on #19
https://github.com/JMAConsulting/biz.jmaconsulting.lineitemedit/pull/24 is merged now. Closing this issue

[2019-03-12 09:27] #19 closed

[2019-03-16 16:00] MtnPavlas opened #34 ""unable to reach server" error when editing contribution"
when the Line Item Edit extension is enabled, clicking on "Edit" button for a contribution results in the following error: "Unable to reach the server. Please refresh this page in your browser and try again."
When the extension is disabled, contributions can be edited just fine.

I enabled debugging and backtrace on our test environment, and didn't see anything obvious in the log.

This is on Edit

[2019-03-16 17:01] MegaphoneJon commented on #34
If you right-click "Edit" and select "Open in new tab" you should get more detailed error reporting.

[2019-03-18 04:57] MtnPavlas commented on #34
thanks, MetaphoneJon, for the tip; the only extra thing I get out of this is:
_CRM_Core_Exception: Invalid currency "$" in /home/evergr55/public_html/a-test/administrator/components/com_civicrm/civicrm/CRM/Core/Smarty/plugins/modifier.crmMoney.php on line 51_

any thoughts what might be causing this?

[2019-03-18 17:19] JoeMurray commented on #34
A recent change in how core handles currencies is likely the cause. @monishdeb could you look into this first week of April if not before. Thanks.

[2019-03-18 17:21] JoeMurray commented on #34
@MegaphoneJon thx for responding here. @MtnPavlas this may be a duplicate...we'll see what @monishdeb says.

[2019-03-26 10:09] madurak opened #35 "Total Amount includes the Tax amount twice"
Hi @JoeMurray,

When creating a membership the total amount shown on the line editor section is adding the tax amount twice as you can see here - https://nimb.ws/lMASmR

Tested on clean CiviCRM v5.7.5 and Line Item Editor v2.0.

**Replication Steps:**
https://nimb.ws/AfUNvV

Please can this be looked into.

Thanks.

[2019-03-27 15:13] JoeMurray commented on #35
Monish, could you review this by end of next week?

[2019-04-01 19:49] MtnPavlas commented on #34
Thanks, guys ... just thought I'd follow up. Any chance to take a look? I could simply comment out the new lines in the money.php file, but since the change was security related, I'd rather not do that.

[2019-04-07 04:22] MtnPavlas commented on #34
@monishdeb , any chance you could look into this?
The following seems to be where the change occurred:

https://lab.civicrm.org/dev/core/commit/bff4492ddf285d10960af4ce0848c3185b457c7f#c567a7e948838e1cd318c530a0d922220600c2b6

Thank you so much

[2019-04-07 13:46] monishdeb commented on #34
@MtnPavlas actually this was fixed against the latest master branch and here's the [commit](https://github.com/JMAConsulting/biz.jmaconsulting.lineitemedit/commit/d2ac58dfcff2dd7a801010d25c39be760e4b1dd0#diff-cdc0f215e5c1a44de9ea1637677b4795L929) Can you please pull the latest code?

[2019-04-07 16:26] MtnPavlas commented on #34
Thank you so much, @monishdeb - I patched my instance of the Line Item Edit extension per the commit above in our test environment, and it works great. Thanks!
Are you planning on posting a new version to be installed via CiviCRM?

[2019-04-09 10:33] madurak commented on #35
Hi @monishdeb - Please can you let me know if you had a look at this? Thanks.
cc @JoeMurray

[2019-04-25 12:19] madurak commented on #35
Hi @JoeMurray
Any news on this? Would be good to know if this will be fixed?
Thanks

[2019-05-13 14:25] monishdeb commented on #35
@madurak this bug is fixed by https://github.com/JMAConsulting/biz.jmaconsulting.lineitemedit/pull/36 hence I am closing this issue. Please reopen this ticket if the issue persist. Thanks!

[2019-05-13 14:25] #35 closed

[2019-05-13 14:26] monishdeb commented on #34
@MtnPavlas glad that patch worked for you. And yes I am going to publish a new version on next week. Stay tuned :)

[2019-05-13 14:26] monishdeb commented on #34
Closing this tikcet now

[2019-05-13 14:26] #34 closed

[2019-06-19 12:00] davyrhys opened #37 "Tax for amounts above 999 = NaN.N"
Hi @JoeMurray and @monishdeb
I'm using your Line Item Editor v2.1 on Civi 5.13.4 and the latest Drupal 7. I have a paid event where bookings are made via webform-Civicrm.
If I edit a lineitem where the unit price multiplied by the quantity exceeds 999.00, the tax amount calculates to NaN.N. I can submit the change but the tax amount is zero.
If I add a new line item where the amount exceeds 999.00

[2019-06-19 13:34] JoeMurray commented on #37
@monishdeb could you look after this when you get back from vacation next week? Maybe by Wed Jun 26th?

[2019-07-05 08:09] davyrhys commented on #37
Hi @JoeMurray and @monishdeb
Any chance you can have a look at this?
Many thanks, Davy

[2019-07-05 15:52] samuelsov opened #39 "Add participant information on line item listing"
It is possible in CiviCRM to create a registration for several participants.
It creates one single contribution with all the line items of all the participants which works well.
With lineitemedit, it's even possible to cancel some participant from the invoice by removing the line items.

In the database we have the information of which line item correspond to which participant and we are able to t

[2019-07-10 17:52] JoeMurray commented on #37
Monish has started and will report back.

[2019-07-11 09:15] monishdeb commented on #37
@davyrhys sorry for the delay.
Here's the patch https://github.com/JMAConsulting/biz.jmaconsulting.lineitemedit/pull/42 Can you please check now?

[2019-07-11 10:43] monishdeb commented on #32
@mfb I agree with you and it makes sense for contribution with single line-item. But suppose a contribution has multiple line-items, where each item has different FT then parent contribution. In such case how we can decide the contribution's FT!

So here's my plan:
1. Simply update the contribution's FT if there's single line-item FT change
2. Expose the contributions FT (like @eileenmcnaughton su

[2019-07-11 17:00] JoeMurray commented on #32
Maybe put the Contribution Financial Type just above the Line Item Financial Type with help text if it is changed 'NB: The Contribution Financial Type is not used in Financial Data exports, and is deprecated and scheduled to be removed in a future version of CiviCRM as it does not accurately represent cases where different line items of a contribution have different financial types.'

[2019-07-12 19:03] MegaphoneJon opened #43 "Should we block editing the total_amount when this is installed?"
When editing the line items, the total_amount is automatically updated, and financial items are created appropriately.

However, if you edit the total_amount WITHOUT changing the line items, you end up out of balance.  Let me know if you need further details here.

Is there a use case where someone would need to change the total_amount directly when this extension is installed?

[2019-07-12 19:29] JoeMurray commented on #43
Reasonable question. Some might like previous behaviour of being able (as a convenience) to edit the contribution total_amount if there is only one line item, and to have any change in that amount reflected in a change to the single line item's amount. The rationale might be that it would be slightly faster. Against that is the anti-pattern of having different UX for changing the contribution tota

[2019-07-15 12:15] davyrhys commented on #37
Hi Monish

Thanks for your help on this.
*Editing* a line item with an amount that exceeds R999 now works great -
thank you!
Unfortunately when I try to *add a new line item* (regardless of value) the
system responds with the civicrm spinning logo.

Below  are the Drupal logs when I try add a new line item: (unfortunately
I'm out of my depth here).

Mny thanks
Davy

LOCATION
https://collaborate201

[2019-07-15 13:38] monishdeb commented on #37
@davyrhys I cannot replicate the issue you have mentioned on a clean setup, heres a screencast:
![before](https://user-images.githubusercontent.com/3735621/61220231-7cc58180-a733-11e9-828d-991ebeb56982.gif)

However when I looked in the backtrace it seems like contribution ID - 198 doesn't have any line-item for it, which seems like a data issue on your setup.

[2019-07-15 15:38] davyrhys commented on #37
Hi Monish

Thanks for the screengrab. That's really useful.
I am populating the event contributions using civi-webform and that seems
to be the problem. If I create a contribution using a standard price set
your extension works perfectly, but trying to add a line item to a
contribution created via the webform goes into the spin.

...

*DAVY IVINS*
T:  011 656 0946
C:  084 207 8148
davy.ivins@gmail

[2019-07-15 16:48] JoeMurray commented on #37
@davyrhys could you report issue to webform CiviCRM extension, referencing this one. Thanks.

[2019-07-15 16:48] #37 closed

[2019-07-15 18:36] davyrhys commented on #37
Will do - thanks Joe

...

*DAVY IVINS*
T:  011 656 0946
C:  084 207 8148
davy.ivins@gmail.com

On Mon, 15 Jul 2019 at 18:48, Joe Murray <notifications@github.com> wrote:

[2019-08-01 20:50] mlutfy commented on #27
I ran into this issue as well, and to be honest I'm still not sure I fully understand the code, but I have this workaround for now:

[code]

if it makes sense, I can send a PR.

[2019-08-01 21:06] mlutfy opened #44 "Specify the 'name' when creating a new PriceFieldValue"
I will send a PR eventually, I just wanted to recommend that in the function `CRM_Lineitemedit_Util::generatePriceField()`, to specify the 'name' property, since the title uses ts, so it can give unexpected results.

i.e.

[code]

side-note: the financial type handling can also cause the PFV creation to fail if the Financial Type for the PriceSetID=1 has been disabled.

[2019-08-15 16:12] philmb commented on #27
@mlutfy 's patch didn't change the behavior for me.

[2019-10-09 13:48] monishdeb commented on #44
@mlutfy thanks for reporting this issue. I have submitted a PR https://github.com/JMAConsulting/biz.jmaconsulting.lineitemedit/pull/45. Can you please check now?

Thanks!

[2019-10-11 05:37] mfb commented on #32
This all sounds great to me.

[2019-11-19 00:50] brucew2013 opened #46 "Potential conflict with CiviDiscount"
I installed this extension in CiviCRM v4.7.13 with CiviDiscount already installed  under Joomla v3.6.5 and received this error message upon completion:

Upon editing or deleting a line item the CiviCRM icon just spins and never completes. Please advise.

[2019-11-19 00:56] JoeMurray commented on #46
@monishdeb could you diagnose this in terms of determining fix required this week. Thx

[2019-11-19 01:13] brucew2013 commented on #46
I did find this tidbit in the CiviCRM annuls.
CRM-12059 Support hook_civicrm_permissions on Joomla
(https://issues.civicrm.org/jira/browse/CRM-12059)

Others:
https://issues.civicrm.org/jira/browse/HR-97
https://github.com/eileenmcnaughton/nz.co.fuzion.extendedreport/issues/70
https://develop.tadpole.cc/plugins/civicrm/blob/1be00335014aa5ffd77a323aa20cc15b501c82e8/civicrm/CRM/Core/Config.php#L326

[2019-11-19 02:08] brucew2013 commented on #46
Update: If I let it sit for more than 5-10 minutes then refresh the page the edit does complete.

[2019-11-21 04:53] brucew2013 commented on #46
But it doesn't update the total either.

[2020-01-13 01:22] seamuslee001 commented on #46
Hi @brucew2013

I just tested using

CiviCRM v5.21.1 and current master version of the line item editor and CiviDiscount v3.8.1 and Joomla v3.9.13 and i had no issues with editing line items. I note that i was on a single language install as well not sure if that is important or not.

I note that the core issue around adding permissions into Joomla was merged into 4.7.21

[2020-02-13 02:22] mfb commented on #32
We're still interested in this feature - we use the contribution financial type in reports etc.  Was anyone working on it? :)

[2020-02-13 16:44] JoeMurray commented on #32
This is currently an unfunded feature request. We're very busy unfortunately and have not been able to make time for pro bono projects. This would be near the top of them.

[2020-02-13 19:31] mfb commented on #32
The PR at #51 would resolve this issue for us, by syncing the contribution's financial type when it's updated on a line item, and the contribution only has one line item.

It doesn't do anything to make the contribution financial type editable when there are multiple line items, as suggested by @monishdeb - but it seems like that feature could be added in a followup PR.

(Side note: I was thinking

[2020-03-25 11:08] artfulrobot opened #53 "Incompatible with uk.artfulrobot.civicrm.gocardless"
I'm logging this here so we can link the two issues.

An [issue](https://github.com/artfulrobot/uk.artfulrobot.civicrm.gocardless/issues/75) was logged with the GoCardless payment processor extension but it seems the bug only occurs when that and this extension are enabled.

The GC processor does a call like so:

[code]

And when that happens, this extension throws an exception. See stack trace on

[2020-03-25 11:21] monishdeb commented on #53
@artfulrobot thanks for reporting this issue. I have submitted a PR https://github.com/JMAConsulting/biz.jmaconsulting.lineitemedit/pull/54 to fix this issue. Please check the PR description for more detail about the actual reason behind this issue.

[2020-07-09 13:19] monishdeb commented on #53
Closing this issue as the fix is introduced in the latest stable release 2.3.

[2020-07-09 13:19] #53 closed

[2020-07-17 06:25] monishdeb commented on #32
@mfb I have made this improvement under PR https://github.com/JMAConsulting/biz.jmaconsulting.lineitemedit/pull/55 . Please have a look.

[2020-07-17 06:30] monishdeb commented on #44
@mlutfy did you get a chance to review #45 ?

[2020-07-17 08:04] monishdeb commented on #27
I believe this is fixed in latest stable version 2.3 as I was not able to replicate the issues. Heres are the use-cases I tried:

1. Add a backoffice Contribution (w/o price-set) with $100 and a financial type without Tax
2. Edit the contribution and add a new line-item with 10% taxable Financial type
3. Save and visit the edit page again.
Result: The first line-item is not changed or lost. Here's

[2020-07-17 08:33] monishdeb commented on #27
I am closing this issue. Feel free to reopen this ticket if the issue persist.

[2020-07-17 08:33] #27 closed

[2020-08-19 21:03] IowaBoy1 opened #56 "2 Drupal log messages with each new contribution entered"
Drupal 7.72
CiviCRM 5.24.5
Edit Line Item 2.3

I just enabled the Edit Line Item extension yesterday.  Today was the first time entering contributions. In the Drupal logs I am getting 2 messages for every contribution we entered.

Notice: Undefined index: id in CRM_Lineitemedit_Util::buildLineItemRows() (line 918 of .../sites/default/files/civicrm/extensions/biz.jmaconsulting.lineitemedit/CRM/Line

[2020-10-06 14:57] samuelsov opened #57 "First line item detail is lost when creating a new contribution"
I've got this problem for a while and though v2.3 would solve this but no luck.

To reproduce :
1. Create a new contribution
2. Add several line item and submit
3. The total is good but if you go to edit again, the first line is lost

![Peek 06-10-2020 10-48](https://user-images.githubusercontent.com/372004/95218165-fd9dec80-07c1-11eb-801b-e73a97f33636.gif)

[2020-10-06 16:28] JoeMurray commented on #57
Monish, could you look at this? Thx.

[2020-10-08 09:25] monishdeb commented on #57
@samuelsov  I wasn't able to replicate the issue on latest stable version of CiviCRM and lineitem editor 2.3. Here's a screencast how I tried to replicate it:
![2020-10-08_14-48-31](https://user-images.githubusercontent.com/3735621/95440069-15b66d00-0976-11eb-8444-0d339cf71e17.gif)

Also in your screencast I can see the 1st row defaults the line-total and unti total value as NaN.N which I wasn't a

[2020-10-08 14:26] samuelsov commented on #57
@monishdeb Nope, no javascript errors but I start to believe it could be a conflict with something else. I'm going to close it for now and reopen if I find something more.

[2020-10-08 14:31] samuelsov commented on #57
@JoeMurray @monishdeb Thanks for the time spent btw, it definitely help finding the cause of the problem!

[2020-10-08 15:46] samuelsov commented on #57
@monishdeb So, there is a bug but it's an edge case. Apparently in my site, there are 2 results to the api call:
[code]
So the `$priceFieldValue['id']` is never defined.

In the database, the name are slighly different (uppercase) but the api doesn't seems to be case sensitive :
[code]

We might want to do (untested):
[code]

Let me know if you want me to do a PR.

[2020-10-08 19:33] monishdeb commented on #57
Hmm the idea behind using 'name' => 'contribution_amount' parameter is, as it is a reserved quick config priceFieldValue used for backoffice contribution.  But it's weird that API acts on case-insensitive name filter but its how the MySQL does a case-insensitive search with = operator on string, for more detail please check https://stackoverflow.com/questions/3936967/mysql-case-insensitive-select.

[2020-10-28 03:37] larssandergreen opened #58 "Install fails with disabled financial types"
Attempting to install extension on 5.28.4 on Drupal with some financial types disabled results in a 503, no install and this message logged: Financial Type for Price Field Option is either disabled or does not exist.

Enabling all disabled financial types solves the issue, but it doesn't seem like that should be necessary.

[2020-10-28 03:58] monishdeb commented on #58
@larssg-wildsight thanks for your report. Looking into it.

[2020-12-15 23:21] larssandergreen commented on #25
@monishdeb @JoeMurray We're experiencing what appears to be the same issue after installing and later uninstalling Line Item Edit 2.3. From the error message (which I've pasted the first bit of below), it appears that we're having the same issue with the 10 price fields mentioned above. Is it perhaps the case that these price fields are added by Line Item Edit and not removed on uninstall? Or perh

[2020-12-16 01:10] monishdeb commented on #25
@larssandergreen  actually this issue has been fixed in LineItem Editor ver 2.1, can you please ensure that you have the latest version installed in your setup ? If not please upgrade to latest stable ver 2.3 (https://civicrm.org/extensions/line-item-editor you will find it here). This will fix the issue.

[2020-12-16 03:42] larssandergreen commented on #25
@monishdeb We had 2.3 installed, but uninstalled it and then the issue started. So we currently don't have it installed, but are experiencing the issue.
We'd prefer not to install it again, but will do so if you believe installing again and uninstalling may help.

[2020-12-16 07:23] monishdeb commented on #25
@larssandergreen hmm the issue is line-item editor adds quick-config price fields (which later allows us to add multiple line-items via backoffice contribtuion), and those price fields are creating issue on batch import because of core, that I explained [above](https://github.com/JMAConsulting/biz.jmaconsulting.lineitemedit/issues/25#issuecomment-442032473). Now we cannot delete these price fields

[2020-12-16 19:09] larssandergreen commented on #25
Thanks @monishdeb. We replaced price_field_id with price_set_id in your SQL and changed 7 rows, which fixed the issue.

[2020-12-16 20:22] JoeMurray commented on #25
@monishdeb , can you review the uninstall code to see if that might have been the issue for @larssandergreen ? Thanks.

[2021-01-11 19:40] monishdeb commented on #58
Steps I used, to replicate:
1. Check which financial type is used in quick config price field 'Contribution Amount' from api-explorer. I found 'Donation'
2. Disable the financial type (Donation here)
3. Install the line-item editor

Result: throw a fatal error: "Financial Type for Price Field Option is either disabled or does not exist"

@larssandergreen as per the error message it seems like the

[2021-02-01 21:38] MegaphoneJon opened #59 "Extension records incorrect net_amount"
Without this extension installed, if I record a contribution (manually) for $10, with a $2 `fee_amount`, the `net_amount` will be $8.

[This line in the extension](https://github.com/JMAConsulting/biz.jmaconsulting.lineitemedit/blob/372de878adf8c3a7886ac21582a600612c7b9ba4/lineitemedit.php#L218) will set my `net_amount` to $10, so my `fee_amount` + `net_amount` is $12.

I'm not sure why `net_amoun

[2021-02-01 22:01] MegaphoneJon commented on #59
As a follow-up; to fix errors introduced here, is there any harm in running this?
[code]

It seems (to my layperson eyes) that the financial transactions are recorded correctly despite this issue, so I think it's more appropriate to fix this via direct SQL.

[2021-02-02 14:33] JoeMurray commented on #59
Hi Jon, thanks for this report, and sorry for the error.

Monish, can you figure out if this was ever correct in the extension?

[2021-02-02 23:30] monishdeb commented on #57
@samuelsov can you review my PR https://github.com/JMAConsulting/biz.jmaconsulting.lineitemedit/pull/60 ?

[2021-02-04 23:48] agileware-justin opened #63 "Please tag versions for this extension in Github"
Please tag each version for this extension in Github. Just makes it easier to bundle with CiviCRM is there is a tag for each version.

[2021-02-05 00:15] JoeMurray commented on #63
Will do, @agileware-justin . @monishdeb will be doing a new release shortly,

[2021-02-05 00:15] #63 closed

[2021-05-05 05:43] seamuslee001 commented on #59
PR has been merged and fix released in 2.4 closing

[2021-05-05 05:43] #59 closed

[2021-05-05 06:05] monishdeb commented on #32
Closing the ticket as PR #55 is merged which fixes the current issue, also included in latest [2.4](https://github.com/JMAConsulting/biz.jmaconsulting.lineitemedit/releases/tag/2.4) release

[2021-05-05 06:05] #32 closed

[2021-07-07 12:51] monishdeb commented on #57
The Line Item Editor is moved to https://lab.civicrm.org/extensions/lineitemedit. The issue link for this ticket is  https://lab.civicrm.org/extensions/lineitemedit/-/issues/57

[2021-07-07 12:51] #57 closed

[2021-07-07 12:53] monishdeb commented on #58
The Line Item Editor is moved to https://lab.civicrm.org/extensions/lineitemedit. The new issue link for this ticket is  https://lab.civicrm.org/extensions/lineitemedit/-/issues/58

[2021-07-07 12:53] #58 closed

[2021-07-07 12:53] monishdeb commented on #56
The Line Item Editor is moved to https://lab.civicrm.org/extensions/lineitemedit. The new issue link for this ticket is  https://lab.civicrm.org/extensions/lineitemedit/-/issues/56

[2021-07-07 12:53] #56 closed

[2021-07-07 12:54] monishdeb commented on #46
The Line Item Editor is moved to https://lab.civicrm.org/extensions/lineitemedit. The new issue link for this ticket is  https://lab.civicrm.org/extensions/lineitemedit/-/issues/46

[2021-07-07 12:54] #46 closed

[2021-07-07 12:54] monishdeb commented on #44
The Line Item Editor is moved to https://lab.civicrm.org/extensions/lineitemedit. The new issue link for this ticket is  https://lab.civicrm.org/extensions/lineitemedit/-/issues/44

[2021-07-07 12:54] #44 closed

[2021-07-07 12:55] monishdeb commented on #43
The Line Item Editor is moved to https://lab.civicrm.org/extensions/lineitemedit. The new issue link for this ticket is  https://lab.civicrm.org/extensions/lineitemedit/-/issues/43

[2021-07-07 12:55] #43 closed

[2021-07-07 12:55] monishdeb commented on #39
The Line Item Editor is moved to https://lab.civicrm.org/extensions/lineitemedit. The new issue link for this ticket is  https://lab.civicrm.org/extensions/lineitemedit/-/issues/39

[2021-07-07 12:55] #39 closed

[2021-07-07 12:55] monishdeb commented on #2
The Line Item Editor is moved to https://lab.civicrm.org/extensions/lineitemedit. The new issue link for this ticket is  https://lab.civicrm.org/extensions/lineitemedit/-/issues/2

[2021-07-07 12:55] #2 closed

[2021-07-07 12:55] monishdeb commented on #1
The Line Item Editor is moved to https://lab.civicrm.org/extensions/lineitemedit. The new issue link for this ticket is  https://lab.civicrm.org/extensions/lineitemedit/-/issues/1

[2021-07-07 12:55] #1 closed